# Items that don't need to be in a Docker image.
# Anything not used by the build system should go here.
Dockerfile
Dockerfile.local
Jenkinsfile
.dockerignore
.gitignore
.gitmodules
.git
.coverage
.build.sh
README.md